{% schema %}
{
  "name": "Cart Survey",
  "target": "section",
  "settings": []
}
{% endschema %}

<div id="survey-form"></div>
<link rel="stylesheet" href="{{ 'index-BDUpTOLp.css' | asset_url }}">
<script src="{{ 'index-BZAlaX0r.js' | asset_url }}" defer></script>

